node_modules







// router.get('/sell', (req, res) => {
// 	console.log('hitting this route 1');
// 	res.render('/items/sell.ejs')
// })
// router.get('/sell', (req, res) => {
//   res.render('/items/sell.ejs');
// });

// router.post('/sell', (req, res) => {
// 	console.log('hitting this route');
// })


// router.get('/sell', (req, res) => {
// 	User.find({}, (err, foundUsers) => {
// 		if (err){
// 			res.send(err)
// 		} else {
// 			res.send(foundUsers)
// 			console.log(foundUsers);
// 		}
//  	})
// })


// module.exports = router;