<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login Page</h1>
      <main>
        <form action="/auth/login" method="POST">
          <input type="text" name="username" placeholder="Enter Username here">
          <input type="text" name="password" placeholder="Enter Password here">
          <input type="submit" name="loginbut" value="Login">
        </form>
      </main>
  </body>
</html>
