<%- include ./head.ejs %>
<meta charset="utf-8">
<title>Login</title>
</head>
<body>
  <main>
    <div id="banner">
      <h1 class="hags"> Haggle </h1>
    </div>
    <div class="container" class="text-center" class="form-group" id="login">
      <br/>
      <h1>Login Page</h1>
      <hr>

      <form action="/auth/login" method="POST">

        <input type="text" name="username" placeholder="Enter Username here"  style= width:280px><br/>

        <input type="password" name="password" placeholder="Enter Password here" style= width:280px><br/>

        <button type="submit" style= width:280px>Login</button>
      </form>
      

      <section>
        <a href="/registration">Not yet a registered user? Click  here to register!</a>
      </section>
    </div>
  </main>
</body>
</html>
