body {
	background-color: #5B85AA;
	text-align: center;
}
#banner{
	background-color: #691B1D;
	border-bottom: 2px solid rgba(1, 22, 69, 1);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0px;
	margin-bottom: 10px;
	text-align: left;
	padding-left: 120px;
}

.expire{
	padding: 6px;
	font-size: 20px;
	border-radius: 10px;
	margin: 10px;

}
.cardtype{
	padding: 6px;
	font-size: 20px;
	border-radius: 10px;
	margin: 10px;

}
.border{
	border: 19px double rgba(1, 22, 69, 1);
}
.container{
	border: 9px double rgba(1, 22, 69, 1);
	text-align: center;

}

div{
	background-color: #94A8B4;
	font-family: Verdana;
	/*border: 9px double rgba(1, 22, 69, 1);*/
	text-align: center;
	border-radius: 10px;
	text-align: center;
}
/*ul{
	text-align: center;
}
li{
	text-align: center;
}*/


button {
	color: white;
	background-color: rgba(1, 22, 69, 1);
	font-size: 20px;
	padding: 17px;
	line-height: 20px;
	margin: 10px;
	border-radius: 10px;
}

nav {
	background-color: #691B1D;
	font-family: Verdana;
	text-align: right;
	padding-right: 25px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid rgba(1, 22, 69, 1);
	margin-bottom: 10px;
}
/*.featuredphotos{
	background-color: white;
	border: 2px solid rgba(1, 22, 69, .5);
	width: 164px;
	align-content: center;
}*/
.col-md-4{
	background-color: white;
	border: 2px solid rgba(1, 22, 69, .5);
	vertical-align: center;
}

#login{
	text-align: center;
	align-content: center;

}

input{
	padding: 6px;
	font-size: 20px;
	border-radius: 10px;
	margin: 10px;
}



#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.showimage {
	margin: calc(50% - 100px) auto;
}
.featuredimage{
	border: 9px double rgba(1, 22, 69, .75);
}

/*#mySidenav a:hover {
  left: 0;
}

#Sports {
  top: 20px;
  background-color: #4CAF50;
}

#Electronics {
  top: 80px;
  background-color: #2196F3;
}

#Home {
  top: 140px;
  background-color: #f44336;
}

#Automotive {
  top: 200px;
  background-color: #555
}*/
