body {
	background-color: rgba(46, 196, 182, 1);
	text-align: center;
}
#banner{
	background-color: rgb(192,192,192);
	border-bottom: 2px solid rgba(1, 22, 69, 1);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0px;
	margin-bottom: 10px;
	text-align: left;
	padding-left: 120px;
}

.expire{
	padding: 6px;
	font-size: 20px;
	border-radius: 10px;
	margin: 10px;

}
.cardtype{
	padding: 6px;
	font-size: 20px;
	border-radius: 10px;
	margin: 10px;

}
/*.haggle{
	border: 9px double rgba(1, 22, 69, 1);
}*/

div{
	background-color: rgba(231, 29, 54, 1);
	font-family: Verdana;
	/*border: 9px double rgba(1, 22, 69, 1);*/
	text-align: center;
	border-radius: 10px;

}


button {
	color: white;
	background-color: rgba(1, 22, 69, 1);
	font-size: 20px;
	padding: 17px;
	line-height: 20px;
	margin: 10px;
	border-radius: 10px;
}

nav {
	background-color: rgb(192,192,192);
	font-family: Verdana;
	text-align: right;
	padding-right: 25px;
	font-size: 20px;
	font-weight: bold;
	 /*border-bottom: 5px solid rgba(1, 22, 39, 1);*/*/
	padding-bottom: 10px;
}

.col-md-4{
	background-color: white;
}

#login{
	text-align: center;
	align-content: center;

}

input{
	padding: 6px;
	font-size: 20px;
	border-radius: 10px;
	margin: 10px;
}



#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

/*#mySidenav a:hover {
  left: 0;
}

#Sports {
  top: 20px;
  background-color: #4CAF50;
}

#Electronics {
  top: 80px;
  background-color: #2196F3;
}

#Home {
  top: 140px;
  background-color: #f44336;
}

#Automotive {
  top: 200px;
  background-color: #555
}*/
