<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confirmation</title>
  </head>
  <body>
    <h1>Brilliant Success! Purchase confirmed</h1>
      <div class="purchasedItemBox">
        <div>
          <li>Item shit here</li>
        </div>
      </div>
      <section>
        <a href="/featureditems"class= "btn btn-info" role="button">Back to Exploring</a>
      </section>
  </body>
</html>
