<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Confirmation</title>
  </head>
  <body>
    <h1>Brilliant Success! Purchase confirmed!</h1>
      <div class="purchasedItemBox">
        <div>
          <p><%=item.title%> for $<%=item.price%></p>
        </div>
      </div>
      <section>
        <a href="/featureditems"class= "btn btn-info" role="button">Want to Haggle some more?</a>
      </section>
      <div class="">
        <img src="https://di-uploads-pod5.dealerinspire.com/autocitysd/uploads/2016/11/goautocity-54color-1024x576.jpg" alt="haggle">
      </div>
  </body>
</html>
