<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Featured</title>
  </head>
  <body>
    <header>
      <nav>
    		<ul id='navmenu'>
    			<a href="/featureditems">Home</a>
    			<a href="/featureditems/buy">Buy</a>
    			<a href="/featureditems/new">Sell</a>
    			<a href="/profile">profile</a>
    		</ul>
    	</nav>
    </header>
    <h1>Main</h1>
    <main>
      <p>This will be our main page!!</p>

      <ul>
        <% for (let i = 0; i < items.length; i++){%>
             <li><%=items[i].title %></li>
             <li><%=items[i].price %></li>
             <li><%=items[i].description %></li>
        <%}%>
      </ul>

    </main>
  </body>
</html>
