<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>
		<ul id='navmenu'>
			<a href="/featureditems">Home</a>
			<a href="/featureditems/buy">Buy</a>
			<a href="/featureditems/new">Sell</a>
			<a href="/profile">profile</a>
		</ul>
	</nav>
	<h1> Make a sale listing</h1>

	<form action= "/" method="POST"><br/>
		<input type="text" name="title" placeholder="Item"><br/>
		<input type="number" name="price" placeholder="List Price"><br/>
		<textarea name="description" placeholder="Description (Optional)"></textarea><br/>
		<input type="submit" value="List Item for Sale">
	</form>
</body>
</html>
