<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> Items Sell page</h1>

	<form action= "/sell" method="POST"><br/>
		<input type="text" name="title" placeholder="Item"><br/>
		<input type="number" name="price" placeholder="List Price"><br/>
		<textarea name="description" placeholder="Description (Optional)"></textarea><br/>
		<input type="submit" value="List Item for Sale">
	</form>
</body>
</html>