<!-- <!DOCTYPE html>
<html>
<head> -->
	<%- include ../head.ejs %>
	<title>Haggle - List Item</title>
</head>
<body>
	<header>
		<nav>
			<ul id='navmenu'>
				<a href="/featureditems">Home</a>
				<a href="/featureditems/new">Sell</a>
				<a href="/profile/<%=userId%>"><%=username%></a>
				<a href="/auth/logout">Logout</a>
			</ul>
		</nav>
	</header>
	<div class="container" class="text-center" class="form-group">
		<br/>
		<h1> List Your Item</h1>
		<hr>

		<form action= "/featureditems" method="POST"><br/>
			<input type="text" name="title" placeholder="Item" class="form-control"><br/>

			<input type="text" name="seller" value="<%=username%>" class="form-control"readonly><br/>

			<input type="number" name="price" placeholder="List Price"class="form-control"><br/>

			<input type="text" name="image" placeholder="Image URL"class="form-control"><br/>

			<textarea name="description" placeholder="Description (Optional)"class="form-control"></textarea><br/>

			<select class="categorySel" name="category">
				<option value="sports">Sports</option>
				<option value="electronics">Electronics</option>
				<option value="furniture">Home</option>
				<option value="miscellaneous">Miscellaneous</option>
			</select>
			<button type="submit" value="List Item for Sale"> List Item for Sale</button>
		</form>
	</div>

</body>
</html>
