<!DOCTYPE html>
<html>
<head>
	<title></title>
	<h1>Item Name</h1>

<h3><%=item.title%></h3>
<h3><%=item.price%></h3>
<h3><%=item.description%></h3>

   <section>
      <a href="/featureditems/<%=item.id%>/edit">Edit</a>
    </section>

</head>
<body>

</body>
</html>