<!DOCTYPE html>
<html>
<head>
	<title></title>
	<h1>Item Name</h1>

	<ul>
		<li><a href="/"> Sell an Item</a></li>
	</ul>
    <ul>
           <li><%=item[i].title %></li>
           <li><%=item[i].price %></li>
           <li><%=item[i].description %></li>
      <%}%>
    </ul>
</head>
<body>

</body>
</html>