<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <header>
      <nav>
        <ul id='navmenu'>
          <a href="/featureditems">Home</a>
          <a href="/featureditems/buy">Buy</a>
          <a href="/featureditems/new">Sell</a>
          <a href="/profile">profile</a>
        </ul>
      </nav>
    </header>
    <h1>This is my Profile Page</h1>
    <ul id='navmenu'>
      <a href="/editprofile">Change Name</a>
      <a href="/editprofile">Change Username</a>
      <a href="/editprofile">Change Email Address</a>
      <a href="/editprofile">Change Payment Info</a>
      <a href="/transactionshow">View Transaction History</a>
      <a href="/editprofile">Change Current Location</a>
    </ul>
  </body>
</html>
