<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Haggle - Transaction</title>
  </head>
  <body>
    <header>
      <nav>
        <ul id='navmenu'>
          <a href="/featureditems">Home</a>
          <a href="/featureditems/new">Sell</a>
          <a href="/profile/<%=userId%>"><%=username%></a>
          <a href="/auth/logout">Logout</a>
        </ul>
      </nav>
    </header>
    <h1>This is the Previous Transactions Page</h1>
  </body>
</html>
